body {
  background-color: #202028;
  color: #e0e0e0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  text-align: center;

  input,
  button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
  }

  /* table, */
  /* tr, */
  /* td { */
  /* border-color: #e0e0e0; */
  /* border-width: 2px; */
  /* border-style: dashed; */
  /* } */

  #tasks {

    #profile_table {
      width: fit-content;
      margin: auto;

      button {
        width: 20vw;
        margin-top: 2vh;
        padding-top: 1vh;
        padding-bottom: 1vh;
        margin-left: 0.5vw;
        margin-right: 0.5vw;
      }
    }

    #new_task_table {
      width: fit-content;
      margin: auto;
      margin-top: 3vh;

      input,
      button {
        padding-top: 1vh;
        padding-bottom: 1vh;
      }

      button {
        width: 10vw;
      }

      input {
        width: 60vw
      }
    }

    #your_shit {
      width: fit-content;
      margin: auto;
      margin-top: 3vh;

      input,
      button {
        padding-top: 1vh;
        padding-bottom: 1vh;
      }

      .checkbox {
        width: 28px;
        height: 28px;
      }

      .title {
        width: 60vw;
      }
    }
  }

  #login_register_table {
    width: 80%;
    margin: auto;
    margin-top: 20vh;

    td {
      width: 50%;
    }

    .login_register_info {
      margin-top: 1vh;
    }

    .error {
      font-size: 20px;
    }

    button {
      width: 15vw;
      margin-top: 2vh;
      padding-top: 1vh;
      padding-bottom: 1vh;
    }
  }
}