body {
  background-color: #202028;
  color: #e0e0e0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;

  input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
  }

  #login_register_table {
    width: 100%;
    border: 2px solid black;

    .login_register_info {
      text-align: right;
    }
  }
}